{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>



    <section class="section" id="contact-us" style="margin-top: 0">
        <!-- <div class="container-fluid"> -->
        <div class="contact-form section-bg" style="background-image: url(static/images/contact-1-720x480.jpg)">
            <form id="contact" action="" method="post">
                {% csrf_token %}
                <center>
                    <div class="cta-content">
                        <h2><em>Post Job</em></h2>
                    </div>
                </center>
                <br>
                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <fieldset>
                            <input name="title" type="text" id="title" placeholder="Title" required="">
                        </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <fieldset>
                            <textarea name="description" type="textfield" id="description" placeholder="Description"
                                required=""></textarea>
                        </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <fieldset>
                            <input name="location" type="text" id="location" placeholder="Location" required="">
                        </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <fieldset>
                            <input name="experince" type="text" id="experince" placeholder="Experince" required="">
                        </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <fieldset>
                            <input name="qualification" type="text" id="qualification" placeholder="Qualification">
                        </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <fieldset>
                            <input class="col-md-12 col-sm-12" type="file" name="cover" id="cover">
                        </fieldset>
                    </div>
                    <div class="col-lg-12">
                        <fieldset>
                            <button id="form-submit" class="main-button"><input type="submit" value="REGISTER"></button>
                        </fieldset>
                    </div>
                    {%for message in messages%}
                    <h3>{{message}}</h3>
                    {%endfor%}
                </div>
            </form>

        </div>
        <!-- </div> -->
    </section>



    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script>
    <script src="{% static 'js/mixitup.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>


</body>

</html>